<link rel="stylesheet" href="/static/css/fonts.css">
<link rel="stylesheet" href="/static/css/main.css">
<div 
style="
    background-color: #2F2F2F; 
    padding: 40px; 
    color: white;
    font-family: 'Gotham Pro';
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    "
>
    <div 
        style="
            background-color: #FF5C5C;
            color: #1D1D1D;
            font-weight: 800;
            border-radius: 0 0 30% 0;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            font-size: 80px;
            display: flex;
            flex-direction: row;
        "
    >
        IG
    </div>
    <p style="width: 80%; text-align: center; font-size: 32px; font-weight: 800;">Спасибо, за регистрацию на платформе Ignis!</p>
    <a href="http://127.0.0.1:8000/confirm/{{ confirm_url }}" style="font-size: 28px; font-weight: 600; border: #FF5C5C 2px solid; border-radius: 10px; padding: 10px 15px; text-decoration: none; color: white;">
        Завершить регистрацию
    </a>
    <p style="font-size: 20px; color: #D41F1F;">Игнорируйте письмо, если вы не регистрировались на сайте.</p>

</div>