.game-list{
    margin-top: 50px;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.game, .add-game{
    margin-top: 20px;
    padding: 10% 5%;
    width: 85%;
    cursor: pointer;
}

.game:hover{
    background-color: var(--m6-color);
}

.add-game:hover{
    background-color: var(--b3-color);
}