<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>{{title}}</title>
</head>
<body>

    <!--  NavBar -->

    <nav>
        <div class="flex-row align-center just-spc-btw" style="width: 90vw">
            <div class="flex-row align-center just-start">
                <div class="logo-3 logo-sz-1"></div>
                <a href="#" class="txt-cl-m1 nav-button txt-medium">Главная</a>
                <a href="#" class="txt-cl-m1 nav-button">Друзья</a>
                <a href="#" class="txt-cl-m1 nav-button">Команды</a>
                <a href="#" class="txt-cl-m1 nav-button">Игры</a>
                <a href="#" class="txt-cl-m1 nav-button">Чат</a>
            </div>
            <div class="flex-row just-end">
                <a href="#" class="txt-cl-m1 nav-reg">Log-in</a>
                <div class="txt-cl-m1 nav-reg">/</div>
                <a href="#" class="txt-cl-p1 nav-reg">Reg-in</a>
            </div>
        </div>
    </nav>

    <!-- Block Content -->
    
    {% block content %}{% endblock %}

    <!-- Footer -->

    <footer>
        <div class="flex-row align-center just-spc-btw" style="width: 90vw">
            <div class="flex-row align-center just-start">
                <a href="#" class="footer-button">Вконтакте</a>
                <a href="#" class="footer-button">YouTube</a>
                <a href="#" class="footer-button">Тех.поддержка</a>
            </div>
            <div class="flex-row just-end footer-button" style="opacity: 100%;">
                © 2023 Ignis
            </div>
        </div>
    </footer>

</body>
</html>