{% footer content %}
<footer>
    <div class="flex-row align-center just-spc-btw" style="width: 90vw">
        <div class="flex-row align-center just-start">
            <a href="#" class="footer-button">Вконтакте</a>
            <a href="#" class="footer-button">YouTube</a>
            <a href="#" class="footer-button">Тех.поддержка</a>
        </div>
        <div class="flex-row just-end footer-button" style="opacity: 100%;">
            © 2023 Ignis
        </div>
    </div>
</footer>
{% endfooter %}