<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/img/favicon.svg" type="image/x-icon">

    <script src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

    <script type="text/javascript" src="/static/modules/jquery-3.6.4.min.js"></script>
    <script type="text/javascript"src="/static/js/preloader.js"></script>
    {% block head %}{% endblock %}
    <title>{{title}}</title>
</head>
<body>

    <!-- Preloader -->

    <div class="preloader-bg flex-col align-center just-center marg-auto">
        <div id="preloader"></div>
        <div class="txt-type-1 txt-cl-m1 preloader-txt">IGNIS</div>
    </div>

    
    <!--  NavBar -->

    <nav>
        <div class="flex-row align-center just-spc-btw" style="width: 90vw">
            <div class="flex-row align-center just-start">
                <div class="logo-3 logo-sz-1"></div>
                <a href="/main" class="nav-button txt-medium">Главная</a>
                <a href="/profile/{{ current_user.id }}/friends" class="nav-button">Друзья</a>
                <a href="/profile/{{ current_user.id }}/teams" class="nav-button">Команды</a>
                <a href="/profile/{{ current_user.id }}/games" class="nav-button">Игры</a>
                <a href="/chat" class="nav-button">Чат</a>
            </div>
            {% if current_user.id %}
                <div class="flex-row align-center">
                    <a href="/profile/{{ current_user.id }}" class="flex-row just-start align-center" style="margin-right: 20px">
                        <div name="ico" class="txt-type-3" style="margin-right: 20px">
                            {{ current_user.nickname }}
                        </div>
                        {% if current_user.ico == 0 %}
                            <div class="nav-user-ico txt-type-4 bg-cl-m7 txt-center">
                                <div style="background: url(/static/img/profile/0.png) no-repeat center; background-size: cover; width: 100%; height: 100%; border-radius: 100%;"></div>
                            </div>
                        {% else %}
                            <div class="nav-user-ico txt-type-4 bg-cl-m7 txt-center">
                                <div style="background: url(/static/img/profile/{{ current_user.id }}.png) no-repeat center; background-size: cover; width: 100%; height: 100%; border-radius: 100%;"></div>
                            </div>
                        {% endif %}
                    </a>
                    <a href="/log-out">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="#FF5C5C" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66663 5.33341C6.313 5.33341 5.97387 5.47389 5.72382 5.72394C5.47377 5.97399 5.33329 6.31313 5.33329 6.66675V25.3334C5.33329 25.687 5.47377 26.0262 5.72382 26.2762C5.97387 26.5263 6.313 26.6667 6.66663 26.6667H12C12.7363 26.6667 13.3333 27.2637 13.3333 28.0001C13.3333 28.7365 12.7363 29.3334 12 29.3334H6.66663C5.60576 29.3334 4.58834 28.912 3.8382 28.1618C3.08805 27.4117 2.66663 26.3943 2.66663 25.3334V6.66675C2.66663 5.60588 3.08805 4.58847 3.8382 3.83832C4.58834 3.08818 5.60576 2.66675 6.66663 2.66675H12C12.7363 2.66675 13.3333 3.2637 13.3333 4.00008C13.3333 4.73646 12.7363 5.33341 12 5.33341H6.66663Z" fill="var(--p1-color)"/>
                        <path d="M22.2761 8.39061C21.7554 7.86991 20.9112 7.86991 20.3905 8.39061C19.8698 8.9113 19.8698 9.75552 20.3905 10.2762L24.781 14.6667H12C11.2636 14.6667 10.6666 15.2637 10.6666 16.0001C10.6666 16.7365 11.2636 17.3334 12 17.3334H24.781L20.3905 21.7239C19.8698 22.2446 19.8698 23.0889 20.3905 23.6096C20.9112 24.1303 21.7554 24.1303 22.2761 23.6096L28.9428 16.9429C29.4635 16.4222 29.4635 15.578 28.9428 15.0573L22.2761 8.39061Z" fill="var(--p1-color)"/>
                        </svg>                        
                    </a>
                </div>
            {% else %}
                <div class="flex-row just-end">
                    <a href="/log-in" class="nav-reg">Log-in</a>
                    <div class="nav-reg">/</div>
                    <a href="/reg-in" class="txt-cl-p1 nav-reg">Reg-in</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <!-- Block Content -->
    
    {% block content %}{% endblock %}

    <!-- Footer -->

    <footer>
        <div class="flex-row align-center just-spc-btw" style="width: 90vw">
            <div class="flex-row align-center just-start">
                <a href="#" class="footer-button">Вконтакте</a>
                <a href="#" class="footer-button">YouTube</a>
                <a href="#" class="footer-button">Тех.поддержка</a>
            </div>
            <div class="flex-row just-end footer-button" style="opacity: 100%;">
                © 2023 Ignis
            </div>
        </div>
    </footer>
</body>
</html>