{% extends "base.html" %}
    
{% block head %}
    <link rel="stylesheet" href="/static/css/profile-settings.css">
{% endblock %}
{% block content %}
    <form method="post" class="txt-type-4">
        <div class="txt-type-2">Название</div>
        <input type="text" name="name" class="input-1" placeholder="Название" maxlength="15">
        <div class="txt-type-2">Краткая ссылка</div>
        <input type="text" name="link" class="input-1" placeholder="После team/" maxlength="15">
        <div class="flex-row">
            <input type="checkbox" name="public" id="public" value="1">
            <label for="public">Публичная группа</label>
        </div>

        <input type="submit" class="btn-2" value="Создать"/>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
{% endblock %}