{% nav content %}
<nav>
    <div class="flex-row align-center just-spc-btw" style="width: 90vw">
        <div class="flex-row align-center just-start">
            <div class="logo-3 logo-sz-1"></div>
            <a href="#" class="txt-cl-m1 nav-button txt-medium">Главная</a>
            <a href="#" class="txt-cl-m1 nav-button">Друзья</a>
            <a href="#" class="txt-cl-m1 nav-button">Команды</a>
            <a href="#" class="txt-cl-m1 nav-button">Игры</a>
            <a href="#" class="txt-cl-m1 nav-button">Чат</a>
        </div>
        <div class="flex-row just-end">
            <a href="#" class="txt-cl-m1 nav-reg">Log-in</a>
            <div class="txt-cl-m1 nav-reg">/</div>
            <a href="#" class="txt-cl-p1 nav-reg">Reg-in</a>
        </div>
    </div>
</nav>
{% endnav %}